<div class="author-bio">
  <img
    class="author-bio-avatar"
    src="https://avatars.githubusercontent.com/u/197898757?v=4"
    alt="{{ site.github_username }}"
    width="44"
    height="44"
    loading="lazy"
  />
  <div class="author-bio-text">
    <span class="author-bio-name">Dumidu</span>
    <span class="author-bio-links">
      <a
        href="https://github.com/{{ site.github_username }}"
        target="_blank"
        rel="me noopener"
        >GitHub Profile</a
      >
      <span class="dot-separator">&bull;</span>
      <a href="mailto:dumidu.github@gmail.com">Email</a>
    </span>
  </div>
</div>
